a {
    color: #069;
    text-decoration: none;
}
article img {
    max-width: 98%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
}

article header time{
    fornt:0.9em "Helvetice Neue, Arial";
    margin-bottom: 5px;
    display: block;
    line-height: 1;
}